Source: configure-cups
Section: net
Priority: optional
Maintainer: Ferdinand Thommes <devil@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Joaquim Boura <x-un-i@berlios.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Git: git://git.siduction.org/packages/siduction-repository/configure-cups.git
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/configure-cups.git
Homepage: http://svn.berlios.de/wsvn/fullstory/configure-cups/

Package: configure-cups
Architecture: all
Depends: ${misc:Depends},
 cups,
 cups-client
Recommends: x11-utils,
 menu
Description: Minimalistic cups configuration script
 Configuration wizzard for printing needs, it starts CUPS as needed and runs
 their respective configuration methods.
 .
 This is equivalent to 'x-www-browser "http://localhost:631"' and (re-)starting
 CUPS.
