Source: configure-cups
Section: net
Priority: optional
Maintainer: Ferdinand Thommes <devil@siduction.org>
Uploaders: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Vcs-Git: git://git.siduction.org/packages/siduction-repository/configure-cups
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/configure-cups.git

Package: configure-cups
Architecture: all
Depends: ${misc:Depends},
 cups,
 cups-client,
 creativecommons3
Recommends: x11-utils,
 menu
Description: Minimalistic cups configuration script
 Configuration wizzard for printing needs, it starts CUPS as needed and runs
 their respective configuration methods.
 .
 This is equivalent to 'x-www-browser "http://localhost:631"' and (re-)starting
 CUPS.
